body{
    display: block;
    background-color: yellow;
}
p.centraliza{
    color: black;
    text-align: center;
}
#lhamas{
    color: rgb(172, 153, 253);
}

li{
    color: blueviolet;
}
section{
    background-color: bisque;
    border-radius: 30%;
    
}
#banana{
    background-color: green;
}
.grew{
    background-color: blue;
    margin-right: 100px;
}